body {
    background-color: var(--bs-gray-900);
}

.image-half {
    width: 50%;
}

.row {
    padding-bottom: 1em;
    /* margin: 1em 0; */
}

.btn-spacer {
    margin-bottom: 1em;
}

.text-color {
    color: #fff;
}

/* form-control {
    width: 50%;
} */